:root { 
--cyan_A201:#00ffe6; 
--white_A700_5e:#ffffff5e; 
--cyan_A200:#17ffe3; 
--blue_A200_3d:#5b93ff3d; 
--indigo_A200:#605cff; 
--red_500:#ef452f; 
--green_800:#3c7341; 
--black_900_3f:#0000003f; 
--gray_50:#fafafa; 
--pink_A100_63:#ff69b463; 
--white_A700_99:#ffffff99; 
--pink_A100:#ff69b4; 
--teal_500:#009e85; 
--black_900:#000000; 
--black_901:#0a0b0e; 
--deep_orange_300:#ff8c64; 
--deep_orange_201:#ffaa8c; 
--deep_orange_200:#ffbe9d; 
--deep_orange_301:#eb996e; 
--purple_600:#93069f; 
--teal_A400_6c:#2ee5a76c; 
--orange_A100:#ffd56b; 
--teal_A400_00:#17ff9d00; 
--blue_800:#1b48ca; 
--gray_900:#1a202c; 
--orange_700:#f68407; 
--teal_A400:#2ee5a7; 
--white_A700_87:#ffffff87; 
--bluegray_900:#263238; 
--bluegray_800:#364152; 
--bluegray_700:#455a64; 
--white_A700_63:#ffffff63; 
--indigo_200:#99b2c6; 
--gray_900_7f:#191a237f; 
--bluegray_400:#898ca8; 
--white_A700:#ffffff; 
--bluegray_901:#35252f; 
}